<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="SavePath" value="Downloads"/>
    <add key="SimultaneousDownloads" value="3"/>
    <add key="ProgressReportInterval" value="10"/>
  </appSettings>
</configuration>